
<h1>Welcome To The Car Simulator</h1>

<form action="cars/create" method="get">

  <label for="Make">Make: </label>
  <input type="text" name="make" value="Ferrari" id="Make"/>

  <br>

  <label for="Model">Model: </label>
  <input type="number" name="model" value="2020" id="Model"/>

  <br>

  <input type="submit" value="Begin Simulation">

</form>
